body {
    margin: 0;
}
.container {
    border: 6px solid black;
    display: flex;
    /*justify-content: flex-start;  start putting the elements to the start of the main axis*/
    /*justify-content: flex-end; the flex item to be placed at the end of the main axis*/
    /*justify-content: center;*/
    /*justify-content: space-between; evenly distributes the extra space left in the container*/
    
    /*justify-content: space-around; sometimes we want the space before the first item and after the last item and this space will be allocated like if space between item1 and item2 is 40px then item1 will left 20px from beginning and last item will be placed 20px before the size of the container */
     /*justify-content: space-evenly; Sabke bich me ab equal distance hoga*/

     /*NOTE: justify-content deals with the main axis by default but if we fix the flex-direction to the column then it will deal with the verticle axis*/
    



}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1 {
    background-color: #B4BF35;
}
.item-2 {
    background-color: #B95F21;
}
.item-3 {
    background-color: #1C4C56;
}
.item-4 {
    background-color: #CfB276;
}
.item-5 {
    background-color: #6B0803;
}
.item-6 {
    background-color: #1C4C56;
}
.item-7 {
    background-color: #B95F21;
}
.item-8 {
    background-color: #01243A;
}
.item-9 {
    background-color: #AAD041;
}