body {
    margin: 0;
}
.container {
    border: 6px solid black;
    display: flex;
   /* flex-wrap:nowrap; this is default value*/
   /*flex-wrap:wrap;  If you start reducing the browser width because items are wrapped inside the container,the wrapping takes place as when needed if there is not enough space for just one item only that item will move into the next row*/
    /*flex-wrap:wrap-reverse;   in place of going to below row in this case it will go to the above row*/
    /*Important thing is that wrapping always happens from the last*/

    /*Vertical wrapping is also possible*/
    flex-direction : column;
    height: 400px;
    flex-wrap:wrap;
}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1 {
    background-color: #B4BF35;
}
.item-2 {
    background-color: #B95F21;
}
.item-3 {
    background-color: #1C4C56;
}
.item-4 {
    background-color: #CfB276;
}
.item-5 {
    background-color: #6B0803;
}
.item-6 {
    background-color: #1C4C56;
}
.item-7 {
    background-color: #B95F21;
}
.item-8 {
    background-color: #01243A;
}
.item-9 {
    background-color: #AAD041;
}